{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Test{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'js/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'js/lib/open-iconic/font/css/open-iconic-bootstrap.min.css' %}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
    <script src="{% static 'js/lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
          <a class="navbar-brand" href="#">{{project_name}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
    </header>
    <main role="main">
    <div class="jumbotron mb-0 pb-3">
      <div class="container">
        {% block jumbo %}
        {% endblock %}
      </div>
    </div>
    {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    </main>
    {% block fullscreenmapcontainer %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>